@charset "utf-8";

/* css reset */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
html, body, div , span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin: 0; padding: 0;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{display: block}
html{font-size: 16px}
body{font-family: "Noto Sans KR", sans-serif; color: #333}
ol, ul{list-style: none;}
table{border-collapse: collapse; border-spacing: 0;}
address{font-style: normal}
a{color: #333; text-decoration: none; display: block;}
img{border: 0; vertical-align: top}
.hidden{display: block; width: 1px; height: 1px; overflow: hidden; color: #fff;
    position: absolute; left: -1000%; top: 0;}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.skipNav{position:fixed; width:100%; overflow:hidden; z-index:110; 
    font-family: 'Noto Sans KR', sans-serif;}
.skipNav a{height:1px; margin-bottom:-1px;overflow:hidden; 
    text-align:center; color:#fff; font-size:1.2rem; font-weight: 700;}
.skipNav a:hover,.skipNav a:focus,.skipNav a:active{
    height:auto;padding:15px 0; background: #3366CC;}

/* 
font-family: "Noto Sans KR", sans-serif; font-weight:100~900
font-family: "Roboto", sans-serif;
*/

.wrap{
    width: 100%; 
    overflow: hidden;
}

/* 헤더 공통 css */
#headerArea{
    width: 100%; height: 92px; position: fixed; left: 0; top: 0; z-index: 100; backdrop-filter: blur(5px);
    background: rgba(255,255,255,.8); transition: background-color .5s;
}
#headerArea::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #ddd;
    position: absolute;
    left: 0;
    top: 92px;
    opacity: 0.5;
}
#headerArea .header_inner{
    width: 1400px; margin: 0 auto; display: flex; justify-content: space-between;
}
#headerArea .logo{
    margin-top: 10px;
}
#headerArea .logo a{
    width: 243px; height: 70px; background: url(../images/main_logo.png );
    text-indent: -999px; overflow: hidden;
}
/* gnb */
#headerArea #gnb{width: 900px; 
}
#headerArea #gnb .dropdownmenu{
    display: flex;
}
#headerArea #gnb>.dropdownmenu>.menu{ 
    width: 16.66%; text-align: center;
    position: relative; padding: 30px 0;
}
/* #headerArea #gnb ul li:nth-of-type(3){
    font-family: "Roboto", sans-serif; padding-top: 3px;
} */
#headerArea #gnb .dropdownmenu>li>.depth1{
     font-size: 1.5rem; display: block;
     transition: all .5s;
}
#headerArea #gnb .dropdownmenu li .depth1::after{
    content: ""; 
    display: block;
    width: 0; 
    height: 3px;
    background: #3366CC;
    position: absolute; left: 50%; bottom: -6px;
    transform: translateX(-50%);
    z-index: -1;
    transition: all .3s;
  }
#headerArea #gnb .dropdownmenu li:hover .depth1::after{
    content: ""; 
    display: block;
    width: 100%; 
    height: 3px;
    background: #3366CC;
    left: 50%; bottom: -6px;
    transform: translateX(-50%);
    z-index: -1;
}

/* 2depth */
#headerArea #gnb .dropdownmenu li ul{
    width: 100%; height: 200px; 
    position:absolute; top:87px; left:0;
    line-height: 2.2rem;
    padding: 20px 0;
    display: none;
}
#headerArea #gnb .dropdownmenu li ul li{
    text-align: center; font-weight:500;
}
#headerArea #gnb .dropdownmenu li ul li a{
    display:block;  color:#666; transition: all .5s;
}
#headerArea #gnb .dropdownmenu .menu ul li a:hover{
    color: #3366CC;  
}
/* top_menu */
#headerArea .top_menu{
    width: 130px; display: flex; gap: 10px; align-items: center;
}
#headerArea .top_menu li{width: 50%;
    text-align: center;
    
}
#headerArea .top_menu li a{
    font-size: 1rem; 
    padding:20px 0;
    transition: all .5s ease-out;
}
#headerArea .top_menu li:hover a{
    color: #037AFE;
    font-weight: 700;
}
#headerArea .top_menu li:hover a::after{
    content: ""; 
    display: block;
    width: 100%; 
    height: 1px;
    background: #037AFE;
    left: 0; bottom: 0;
}
/* 푸터 공통 css */

#footerArea{
    width: 100%; background: rgba(244,244,244,1);
}
#footerArea .footer_container{
    width: 2000px;  position: relative; left: 50%; top: 0; 
    transform: translateX(-50%);
}
#footerArea .footer_container>img{
    position: absolute; left: 0; top: -24px;
}
#footerArea .footer_inner{
    width: 1400px; margin: 0 auto;    
}
#footerArea .footer_top{
    border-bottom: 1px solid #ccc;
}
#footerArea .footer_top ul{
    display: flex;
    gap: 100px;
}

#footerArea .footer_top a{
    font-size: 1rem; padding: 10px 0;
    color: #333; font-weight: 500;
}
#footerArea .footer_bottom{
    display: flex;
    justify-content: space-between;
}
#footerArea .footer_left{ 
   
}
#footerArea .footer_left p:nth-of-type(1){
    margin: 30px 0;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}
#footerArea .footer_left ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
#footerArea .footer_left ul{
    position: relative;
}
#footerArea .footer_left .left_txt1::before{
    content: "";
    display: block;
    width: 1px;
    height: 72px;
    background: #ccc;
    position: absolute; left: 170px; top: 0;
}
#footerArea .footer_left .left_txt2::before{
    content: "";
    display: block;
    width: 1px;
    height: 72px;
    background: #ccc;
    position: absolute; left: 400px; top: 0;
}
#footerArea .footer_left .left_txt3::before{
    content: "";    
    display: block;
    width: 1px;
    height: 72px;
    background: #ccc;
    position: absolute; left: 650px; top: 0;
}
#footerArea .footer_left dt{
    margin-bottom: 25px; font-weight: 300;
    color: #333; font-size: 1rem;
}
#footerArea address{
    font-size: 1rem; color: #666;
}
#footerArea .copy{
    font-size: 1rem; color: #666;
    margin-bottom: 20px;
}
#footerArea .footer_right img{
    margin: 80px 0 60px 100px;
}
#footerArea .bottom_menu{
    display: flex; justify-content: space-between; gap: 20px;
}
#footerArea .footer_right .sns{
    display: flex; gap: 20px;
    align-items: center;
}
#footerArea .footer_right .sns1{
   width: 40px; height: 40px; 
   background: url(../images/sns_face.png) no-repeat;
}
#footerArea .footer_right .sns2{
    width: 40px; height: 40px; 
    background: url(../images/sns_insta.png) no-repeat;
 }
 #footerArea .footer_right .sns3{
    width: 40px; height: 40px; 
    background: url(../images/sns_youtu.png) no-repeat;
 }
#footerArea .footer_right .family{
    width: 150px; border: 1px solid #ccc;
    text-align: center; 
    position: relative; z-index: 20;
}
#footerArea .family .arrow{
    display:block; 
    font-size:1rem;
    text-align: center; 
    padding: 10px 0;
    transition: all 1s;
}
#footerArea .family .arrow:hover{
    color:#fff; background: #333;
}
#footerArea .footer_right .family a{
    font-size: 1rem; color: #333;
}
#footerArea .family .list{
    width: 150px;
    position: absolute; left: -1px; top: -317px;
    border: 1px solid #ccc;
    display: none;
    background: #fff;
}
#footerArea .family .list li{
    line-height: 1.5rem; 
    border-bottom: 1px solid #ccc;
}
#footerArea .family .list a{
    display: block; 
    text-align: center;
    padding: 5px 0;
}
#footerArea .family .list a:hover{
    color: #fff; background: #333;
}

#footerArea .top_move{
    width: 80px; height: 80px;
    background: linear-gradient(to right, rgba(0,113,187,1) 0%,rgba(108,206,245,1) 100%);
    box-shadow: 0 0 10px 1px rgba(0,0,0,.3);
    position: fixed; left: 50%; bottom: 180px; 
    margin-left: 800px;
    border-radius: 30px;
    z-index: 50;
    display: none;
}
#footerArea .top_move span{
    display: block; text-align: center;
    font-family: "Roboto", sans-serif;
    color: #fff; font-size: 1.3rem; font-weight:700;
    margin-top: 27px;
}