@charset "utf-8";

/* 메인레이아웃 */


/* 비주얼영역 */
.visual{
    width: 2000px; position: relative; left: 50%; top: 0; 
    transform: translateX(-50%);
}
.visual .gallery{
    position:relative;left:0; top:0; 
    overflow:hidden; 
    width:2000px; height:1050px;
}

.visual .gallery ul li{
   display: none; position:absolute; left: 0; top: 0;
   width: 2000px; height: 1050px;
}
.gallery img{animation: ani 30s linear infinite;}
@keyframes ani {
    from {transform: scale(1);}
    to {transform: scale(1.2);}
}
/* 이미지 위 글자 */
.visual .gallery li p{
    position: absolute; top: 350px; left: 300px;
    width: 100%;
    font-size: 2.3rem;
    font-weight: 700; 
    opacity: 0; 
}
.visual .gallery .link2,
.visual .gallery .link3{
    color: #fff;
}
.visual .gallery .txt1{
    color: #0071BB;
    font-family: "Roboto", sans-serif;
}
.visual .gallery li .txt2{
    color: #807F83;
}
.dock{width:400px; position:absolute; left:306px; top: 80%;
  }
.dock .mbutton{ margin-right:10px; cursor:pointer; 
  display:block; float:left; width:20px; height:7px;
  background: rgba(255, 255, 255, 0.5); border-radius: 5px; 
  transition: all .5s; position: relative;}
.dock .mbutton::after{content: ''; display: block; width: 0; height: 7px;
    border-radius: 5px; position: absolute; left:0; top:0; 
    background:#037AFE;}   
.dock .mbutton.on::after{content: ''; width: 100%; 
    transition: all 4s;}
.dock .ps{ margin: -10px 0 0 15px; cursor:pointer; 
  display:block; float:left; }
.dock .ps i{font-size: 1.5rem; color: rgba(255, 255, 255, .7);}   
.dock .ps i:hover{color: #fff;}

/* 본문영역 */
#content{}
#content .company{
    width: 1400px; margin: 0 auto; padding: 100px 0;
    display: flex; justify-content: space-between;
}
#content .company .company_left{
    width: 650px;
}
#content .company_left p:nth-child(1){
    font-size: 4rem; font-weight: 700; 
    font-family: "Roboto", sans-serif;
    color: #3366CC; margin-bottom: 30px;
}
#content .company_left p:nth-child(2){
    font-size: 1.8rem; 
    font-weight: 700;
    margin-bottom: 50px;
}
#content .company_left p:nth-child(3){
    font-size: 1.2rem; 
    line-height: 140%;
    margin-bottom: 50px;
}
#content .company_left .more{
    width: 200px; height: 50px;
    padding: 10px 10px 10px 0;
    display: flex; justify-content: space-between;
    align-items: center;
    color: #666666; 
    position: relative;
}
#content .company_left .more span{ 
    display: flex; justify-content: center;
    align-items: center;
    transition: all .5s ease-out;
    position: absolute; left: 125px; top: 21px;
    width: 30px; height: 30px;
}
#content .company_left:hover .more span{ 
    background: #3366cc; border-radius: 50%; color: #fff;
    transform: translateX(50px);
}
#content .company_right{
    width: 680px;
}
#content .company_right ul{
    display: flex;
    justify-content: space-between;
    position: relative;
}
#content .company_right ul li{
    width: 340px;
}
#content .company_right dd{
    font-size: 1.1rem;
    line-height: 140%;
}
#content .company_right dt{
    margin: 50px 0 30px;
    line-height: 200%;
}
#content .company_right dt span{
    font-family: "Roboto", sans-serif;
}
#content .company_right dd img{
    margin-bottom: 30px;
}
#content .company_right span{ 
    font-size: 1.8rem; font-weight: 700;
}
#content .company_con1::before{
    content: "";
    display: block;
    width: 1px;
    height: 300px;
    background: #ccc;
    position: absolute; 
    left: -30px; 
    top: 50px;
    opacity: .5;
}
#content .company_con2::before{
    content: "";
    display: block;
    width: 1px;
    height: 300px;
    background: #ccc;
    position: absolute; left: 310px; top: 50px;
    opacity: .5;
}
#content .company_con2::after{
    content: "";
    display: block;
    width: 1px;
    height: 300px;
    background: #ccc;
    position: absolute; right: 0; top: 50px;
    opacity: .5;
}

/* esg */
#content .business{
    width: 100%; background: rgba(237,242,235,1);
    position: relative; left: 50%; top: 0;
    transform: translateX(-50%);
}
#content .business_inner{
    width: 1400px; margin: 0 auto; padding: 100px 0 100px;
}
#content .business_lead p:nth-child(1){
    font-size: 4rem; font-weight: 700; 
    font-family: "Roboto", sans-serif;
    color: #99CC00; margin-bottom: 20px;
    display: block;
}
#content .business_lead p:nth-child(2){
    font-size: 1.8rem; font-weight: 700;
    margin-bottom: 50px; 
}
#content .business .business_container{
    
}
#content .business ul{
    display: flex;
    justify-content: space-between;
}
#content .business ul li{
    position: relative;
    width: 450px; height: 550px;
}
#content .business ul:hover li{
    transition: all .8s ease-out;
}
.cube_inner{
    width: 450px;
    height: 550px;
    position: relative;
    perspective: 600px;
    }
.cube_cover{width: 100%;
    height: 100%;
    transition:all .5s ease-in-out;
    transform: translateZ(-225px); /* 너비의 절반 */
    transform-style: preserve-3d;
}
.cube_face{
    position: absolute;
    width: 100%;
    height: 100%; 
}
.cube_img1{
    background: url(../images/esg1.jpg) no-repeat;
    transform: rotateY(0) translateZ(225px);
    opacity: 1;
}
.cube_img2{
    background: url(../images/esg2.jpg) no-repeat;
    transform: rotateY(0) translateZ(225px);
    opacity: 1;
}
.cube_img3{
    background: url(../images/esg3.jpg) no-repeat;
    transform: rotateY(0) translateZ(225px);
    opacity: 1;
}
.cube_front dl{
    text-align: center;
    margin-top: 220px;
}
.cube_front dt{
    color: #fff;
    font-size: 2.625rem;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
}
.cube_front dd{
    color: #fff;
    font-size: 1.625rem;
    font-weight: 500;
}
.cube_right{
    background: linear-gradient(to bottom, rgb(190, 190, 190) 0%,rgb(240, 240, 240) 100%);
    transform: rotateY(90deg) translateZ(225px);
    /* box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, .1); */
    text-align: center;
}
.cube_right .right_inner{
text-align: center;
color: #fff;
}
.cube_right h4{
    font-size: 2.625rem;
    margin: 120px 0 50px 0;
    color: #333;
}
.cube_right p{
    width: 400px;
    text-align: center;
    font-size: 1.35rem;
    line-height: 140%;
    padding-left: 25px;
    margin-bottom: 70px;
    color: #333;
}
.cube_right .lead_span{
    font-size: 1.35rem;
    color: #333;
}
.cube_right .material-symbols-outlined{
    position: absolute;
    bottom: 100px;
    left: 290px;        
}
.cube_inner:hover .cube_cover{
    transform: translateZ(-220px) rotate3d(0,1,0,-90deg);
}
/* brand */
#content .brand{
    width: 1400px; margin: 0 auto; padding: 100px 0;
    position: relative;
}
#content .brand:after{
    content: "";
    display: block;
    position: absolute;
    top: 600px;
    right: -600px;
    z-index: -5;
    width: 1000px;
    height: 1000px;
    background: linear-gradient(248.93deg, #FF9600 30%, rgba(255, 0, 229, 0.37) 98%);
    opacity: .1;
    filter: blur(50px);
}
#content .brand .brand_lead p{
    color: #3366CC;
    font-size: 4rem; font-weight: 700; 
    font-family: "Roboto", sans-serif;
     margin-bottom: 20px;
    display: block;
}
#content .brand .brand_inner {
    border-top: 1px solid #ccc;
    display: flex;
    height: 2200px;
    position: relative;
    box-sizing: border-box;
}
#content .brand .brand_inner::after{
    content: "";
    display: block;
    position: absolute; bottom: 50px; left: -400px;
    z-index: -6;
    width: 900px;
    height: 900px;
    background: linear-gradient(144.7deg, #3366CC 35%, rgba(153, 204, 0, 0.8) 90%);
    opacity: .2;
    filter: blur(50px);
    border-radius: 40% 50% 50% 40%;
}
#content .brand .inner_left{
    position: relative;
    width: 200px;
}
#content .brand .brand_inner .more {
    width: 180px;
    font-size: 1rem;
    padding: 10px 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 1s ease-out;
    margin-top: 20px;
}
/* #content .brand .brand_inner .more -> position : absolute 줘보기  */
/* #content .brand .brand_inner .more.fix / 50% 한번수정해보기 */
#content .brand .brand_inner .more.fix {
   position: fixed; z-index: 10;
   left:50%; top: 80px; margin-left: -700px;
}

#content .brand .brand_inner .inner_left:hover .more{
    color: #fff;
    background: linear-gradient(to right, rgba(98,232,246,1) 0%,rgba(3,122,254,1) 47%,rgba(51,102,204,1) 100%);
}
/* #content .brand .brand_inner .more:hover{
    color: #fff; background: ;
} */
#content .brand .brand_inner .more span{
    position: relative; left: 5px; top: 1px;
}
/* #content .brand .brand_inner .inner_left{
    float: left;
} */
#content .brand .brand_inner .inner_right{
    width: 1200px;
    /* float: right;  */
    border-left: 1px solid #ccc;
}
#content .brand .inner_right ul{
    width: 1200px; 
    transition: all 1s ease-out;
}
#content .brand .inner_right ul li{
    height: 550px;
}

/* brand1 */
#content .brand .inner_con1{
    overflow: hidden; border-bottom: 1px solid #ccc;
    padding: 50px; box-sizing: border-box;
}
#content .brand .inner_con1 a{
    width: 1100px;height: 450px;
}
#content .brand .con1_left{
   float: left; 
   width: 500px; height: 450px; 
   position: relative;
}
#content .brand h4{
    font-size: 3rem; 
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
    transition: all .8s ease-in-out
}
#content .brand .con1_left h4{
    color: #01D3E9;
}
#content .brand a .con1_left h4:after{
    content: "";
    display: block;
    width: 155px; height: 1px; background: #333;
    position: absolute; left: 0; top: 47px; 
    transition: all .5s ease-out;
    transform: scaleX(0); transition-delay: .1s;
    transform-origin: left;
}
#content .brand a:hover .con1_left h4:after{
    content: "";
    transform: scaleX(1);
}
#content .brand .con1_left .brand_letter1{
    font-size: 3rem; 
    color: #037AFE;
}
#content .brand .inner_right .material-symbols-outlined{
    font-size: 30px;
}
#content .brand .con1_left .material-symbols-outlined{
    color: #333; 
    position: absolute; 
    left: 130px; 
    top: 12px;
}
#content .brand .con_txt1{
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 140%;
}
#content .brand .txt_area1{
    margin-bottom: 70px;
}
#content .brand .con1_left .brand_txt1{
    color: #037AFE;
}
#content .brand .con_txt2{
    font-size: 1.2rem;
    line-height: 140%;
}
#content .brand .txt_area2{
    margin-bottom: 100px;
}
#content .brand .con1_left .brand_hashtag1{
    background: #F4F4F4; 
    border-radius: 20px;
    padding: 10px 20px; margin-right: 20px;
}
#content .brand .con1_left .brand_hashtag2{
    background: #F4F4F4; 
    border-radius: 20px;
    padding: 10px 20px;
}
#content .brand .con1_right{
    float: right;
     width: 500px; 
     height: 450px;
    position: relative;
    transition: all .8s ease-out;
}
#content .brand .con1_right::before{
    content: "";
    display: block;
    width: 1px;
    height: 450px;
    background: #ccc;
    position: absolute;
    left: -50px;
    top: 0;
}
#content .brand .con1_right ul{
    width: 500px; height: 450px;
}
#content .brand .con1_right ul li{
    width: 500px; height: 450px;
    position: relative;
}
#content .brand .con1_right img{
    position: absolute; left: 50px; top: 0;
}

/* brand2 */
#content .brand .inner_con2{
    width: 1200px; 
    padding: 50px;
    box-sizing: border-box;
    overflow: hidden; 
}
#content .brand .inner_con2 a{
    width: 1100px; 
    height: 450px;
}
#content .brand .con2_right{
   float: right; 
   width: 500px; height: 450px; 
   position: relative; left: 50px; top: 0;
}
#content .brand a .con2_right h4{
    color: #216E57;
}
#content .brand a .con2_right h4:after{
    content: "";
    display: block;
    width: 365px; 
    height: 1px; 
    background: #333;
    position: absolute; 
    left: 0; 
    top: 47px; 
    transition: all .5s ease-out;
    transform: scaleX(0); 
    transition-delay: .1s;
    transform-origin: left;
}
#content .brand a:hover .con2_right h4:after{
    content: "";
    transform: scaleX(1);
}
#content .brand .con2_right .brand_txt2{
    font-size: 1.5rem; color: #216E57;
}
#content .brand .con2_right .material-symbols-outlined{
    color: #333; 
    position: absolute; 
    left: 340px; 
    top: 12px;
}
#content .brand .txt_area3{
    margin-bottom: 70px;
}
#content .brand .txt_area4{
    margin-bottom: 80px;
}
#content .brand .con2_right .brand_hashtag3{
    font-size: 1rem;
    background: #F4F4F4; 
    border-radius: 20px;
    padding: 10px 20px; 
    margin-right: 20px;
}
#content .brand .con2_right .brand_hashtag4{
    font-size: 1rem;
    background: #F4F4F4; 
    border-radius: 20px;
    padding: 10px 20px; 
    margin-right: 20px;
}
#content .brand .con2_right .brand_hashtag5{
    font-size: 1rem;
    background: #F4F4F4; 
    border-radius: 20px;
    padding: 10px 20px;
}
#content .brand .con2_left{
    float: left; 
    width: 500px; 
    height: 450px;
    position: relative;
}
#content .brand .con2_left ul{
    width: 500px; 
    height: 450px ;
}
#content .brand .con2_left ul li{
    position: relative;
    height: 450px;
}
#content .brand .con2_left::after{
    content: "";
    display: block;
    width: 1px;
    background: #ccc;
    height: 450px;
    position: absolute;
    left: 550px;
    top: 0;
}
#content .brand .con2_left img{
    position: absolute; left: 0; top: 0;
}

/* brand3 */
#content .brand .inner_con3{
    overflow: hidden; 
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 50px;
    box-sizing: border-box;
}
#content .brand .inner_con3 a{
    width: 1100px; 
    height: 450px;
}
#content .brand .con3_left{
    float: left; 
    width: 500px; 
    position: relative;
}
#content .brand .con3_left h4{
    color: #565538;
}
#content .brand a .con3_left h4:after{
    content: "";
    display: block;
    width: 245px; 
    height: 1px; 
    background: #333;
    position: absolute; 
    left: 0; 
    top: 47px; 
    transition: all .5s ease-out;
    transform: scaleX(0); transition-delay: .1s;
    transform-origin: left;
}
#content .brand a:hover .con3_left h4:after{
    content: "";
    transform: scaleX(1);
}
#content .brand .con3_left .brand_letter2{
    color: #CCDB2A;
}
#content .brand .con3_left .material-symbols-outlined{
    color: #333; 
    position: absolute; 
    left: 220px; 
    top: 12px;
}
#content .brand .txt_area5{
     margin-bottom: 70px;
}
#content .brand .con3_left .brand_txt4{
    color: #565538;
}
#content .brand .txt_area6{
    margin-bottom: 80px;
}
#content .brand .con3_left .brand_hashtag6{
    background: #F4F4F4;
    border-radius: 20px;
    padding: 10px 20px; 
    margin-right: 20px;
}
#content .brand .con3_left .brand_hashtag7{
    background: #F4F4F4; 
    border-radius: 20px;
    padding: 10px 20px;
}
#content .brand .con3_right{
    float: right; 
    width: 500px; 
    height: 450px; 
    position: relative;
}
#content .brand .con3_right ul{
    width: 500px; 
    height: 450px;
}
#content .brand .con3_right ul li{
    position: relative; 
    height: 450px;
}
#content .brand .con3_right::before{
    content: "";
    display: block;
    width: 1px;
    height: 450px;
    background: #ccc;
    position: absolute;
    left: -50px;
    top: 0;
}
#content .brand .con3_right img{
    position:absolute; 
    left: 50px; 
    top: 0;
}

/* bradn4 */
#content .brand .inner_con4{
    width: 1200px; 
    padding: 50px; 
    box-sizing: border-box;
    overflow: hidden; 
}
#content .brand .inner_con4 a{
    width: 1100px;
    height: 450px;
}
#content .brand .con4_right{
   float: right; 
   width: 500px; 
   height: 450px;
   position: relative; 
   left: 50px; 
   top: 0;
}
#content .brand .con4_right h4{
    color: #333;
}
#content .brand a .con4_right h4:after{
    content: "";
    display: block;
    width: 195px; 
    height: 1px; 
    background: #333;
    position: absolute;
    left: 0; 
    top: 57px; 
    transition: all .5s ease-out;
    transform: scaleX(0); 
    transition-delay: .1s;
    transform-origin: left;
}
#content .brand a:hover .con4_right h4:after{
    content: "";
    transform: scaleX(1);
}
#content .brand .con4_right .brand_letter3{
    color: #037AFE;
}
#content .brand .con4_right .material-symbols-outlined{
    color: #333; 
    position: absolute; 
    left: 170px; 
    top: 12px;
}
#content .brand .txt_area7{
    width: 400px;
    margin-bottom: 70px;
}
#content .brand .txt_area8{
    margin-bottom: 100px;
}
#content .brand .con4_right .brand_hashtag8{
    font-size: 1rem;
    background: #F4F4F4; border-radius: 20px;
    padding: 10px 20px; margin-right: 20px;
}
#content .brand .con4_right .brand_hashtag9{
    font-size: 1rem;
    background: #F4F4F4; border-radius: 20px;
    padding: 10px 20px; margin-right: 20px;
}
#content .brand .con4_right .brand_hashtag5{
    font-size: 1rem;
    background: #F4F4F4; border-radius: 20px;
    padding: 10px 20px;
}
#content .brand .con4_left{
    float: left; 
    width: 500px; height: 450px;
    position: relative;
}
#content .brand .con4_left::after{
    content: "";
    display: block;
    width: 1px;
    height: 450px;
    background: #ccc;
    position: absolute;
    left: 550px;
    top: 0;
}
#content .brand .con4_left ul{
    width: 500px; height: 450px;
}
#content .brand .con4_left ul li{
    height: 450px;
}
#content .brand .con4_left img{
    position: absolute; left: 0; top: 0;
}

/* notice */
#content .notice{
    width: 100%; 
    background: rgba(244,244,244,1);
    position: relative; left: 50%; top: 0;
    transform: translateX(-50%);
}
#content .notice_container{
    width: 1400px; 
    position: relative; 
    left: 50%; 
    top: 0;
    transform: translateX(-50%);  
    padding: 100px 0;
}
/* #content .notice_inner{
    width: 1400px; margin: 0 auto; 
    position: relative;
} */
#content .notice h3{
    color: rgba(255, 150, 0, .95);
    font-size: 4rem;
    margin-bottom: 20px;
}
#content .notice_container>p{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 50px;
}
/* #content .notice_container>p span{
    color: #F5831B;
} */
/* swiper */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-pagination{
    margin-bottom: 45px;
}
/* #content .notice_inner ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
} */
#content .notice_inner li{
    background: #fff; 
    border-radius: 20px;
    transition: all .5s ease-out;
}
#content .notice_inner li:hover {
    background: rgba(255, 150, 0, .95);
}
#content .notice_inner li a {
    padding: 20px;
}
#content .notice_inner li figure{
    border-radius: 20px 20px 0 0;
    position: relative;
    overflow: hidden;
}
#content .notice_inner li img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
    transition: all .3s ease-out;
}
#content .notice_inner li:hover img{
    transform: scale(1.05);
}
#content .notice_inner p {
    font-size: 1.1rem;
    color: #333;
}
#content .notice_inner li:hover p {
    color: #fff;
}
#content .notice_inner li dt{
    font-size: 1.3rem; 
    font-weight: 700;
    margin-bottom: 30px;
    color: #333;
}
#content .notice_inner li:hover dt{
    color: #fff;
}
#content .notice_inner li dd{
    font-size: 1rem; margin-bottom: 70px;
    color: #333;
}
#content .notice_inner li:hover dd{
    color: #fff;
}
#content .notice_inner li span{
    font-size: .9rem;
}
#content .notice_inner li:hover span{
    color: #fff;
}
#content .notice .more{
    position: absolute; right: 40px; top: 212px;
    color: #333;
    font-size: 1.1rem; font-weight: 500;
}
#content .notice .more span{
    position: absolute; 
    left: 95px; 
    top: -3px;
    background: rgba(255,150,0,.95); 
    border-radius: 50%; 
    color: #fff; 
    width: 30px; 
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .5s ease-out;
}

/* carrer */
#content .career{
    width: 2000px; height: 600px; background: url(../images/career.jpg) no-repeat;
    position: relative; left: 50%; top: 0;
    transform: translateX(-50%);
}
#content .career_txt li{
    position: relative;
}
#content .career_txt dl{
    width: 550px; height: 350px; background: rgba(255, 255, 255, .3);
    position: absolute; left: 300px; top: 125px;
    text-align: center;
    border-radius: 50px 0;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,.4);
    backdrop-filter: blur(5px);
    transition: all .8s ease-out;
}
#content .career_txt li:hover dl{
    background: #fff;
}
#content .career_txt dt{
    margin-top: 50px;
    color: #3366CC;
    font-size: 4rem; font-weight: 700; 
    font-family: "Roboto", sans-serif;
     margin-bottom: 20px;
}
#content .career_txt dl dd:nth-of-type(1){
    font-size: 1.5rem; font-weight: 500;
    margin-bottom: 100px;
    color: #333;
}
#content .career_txt dd:nth-of-type(2){
    font-size: 1rem; color: #333;
    position: relative;
}
#content .career_txt li:hover dd:nth-of-type(2){
    color: #3366CC;
}
#content .career_txt dd span{
    position: absolute; left: 350px; top: 2px;
    display: flex;
    justify-content: center; align-items: center;
    transition: all 1s ease-out;
}
#content .career_txt li:hover dd span{
    background: #3366CC; border-radius: 50%;
    width: 30px; height: 30px;
    color: #fff;
    transform: translate(30px,-20px)
}
