@charset "utf-8";

/* E(환경경영) 페이지 내용영역 */
.content_area{
    width: 100%;
} 
.content_area .content_container{
    width: 100%;
    margin: 0 auto;
}
.content_area .con_outset{
    width: 2000px;
    height: 250px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: url(../images/content2/green1.jpg);
    margin-bottom: 150px;
}
.content_area .con_outset p{
    font-size: 3.75rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding-top: 83px;
    font-family: "Roboto", sans-serif;
}
.content_area .con_inner{
    width: 1400px;
    margin: 0 auto;
}
.content_area .con_top{
    margin-bottom: 150px;
}
.content_area .con_top h3{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}
.content_area .con_top p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    margin-bottom: 100px;
}
.content_area .con_top ul{
    display: flex;
    justify-content: center;
    gap: 200px;
}
.content_area .con_top dt{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
    position: relative;
}
.content_area .inner_txt1 dt::before{
    content: "";
    display: block;
    width: 220px;
    height: 5px;
    background: #FEE3C8;
    position: absolute;
    top: -30px;
    left: -10px;
}
.content_area .inner_txt2 dt::before{
    content: "";
    display: block;
    width: 220px;
    height: 5px;
    background: #EDF3AB;
    position: absolute;
    top: -30px;
    left: -10px;
}
.content_area .inner_txt3 dt::before{
    content: "";
    display: block;
    width: 220px;
    height: 5px;
    background: #D8EAF4;
    position: absolute;
    top: -30px;
    left: -10px;
}
.content_area .con_top dd{
    font-size: 1.2rem;
    margin-bottom: 15px;
    position: relative;
    padding-left: 30px;
}
.content_area .con_top dd::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: #333;
    position: absolute;
    top: 9px;
    left: 0;
    border-radius: 50%;
}
.content_area .con_mid{
    margin-bottom: 150px;
}
.content_area .con_mid h3{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 50px;
}
.content_area .con_mid p{
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 50px;
}
.content_area .con_mid ul{
    margin-left: 50px;
}
.content_area .con_mid dl{
    margin-bottom: 30px;
}
.content_area .con_mid dt{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 5px;
    position: relative;
}
.content_area .con_mid dt:before{
    content: "";
    display: block;
    width: 40px;
    height: 10px;
    background: rgba(3,122,254,.4);
    position: absolute;
    left: -27px;
    top: 10px;
    z-index: -10;
    transform: rotate(-35deg);
}
.content_area .con_mid dd{
    font-size: 1.25rem;
    font-weight: 500;
    color: #555;
    padding-left: 18px;
}
.content_area .con_bottom{
    height: 733px;
    margin-bottom: 200px;
}
.content_area .con_bottom ul{
    position: relative;
}
.content_area .con_bottom ul li{
    display: block;
    width: 780px;
    height: 250px;
    background: rgba(255,255,255,.8);
    border-radius: 50px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.1);
}
.content_area .con_bottom h3{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 50px;
}
.content_area .con_bottom p{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 53px 0 0 33px;
    line-height: 150%;
}
.content_area .con_bottom img{
    position: absolute;
    right: 0;
    top: 125px;
    z-index: -10;
    border-radius: 50px;
}