@charset "utf-8";

/* ESG전략 페이지 내용영역 */
.content_area{
    width: 100%; 
}

.content_area .content_container{
    width: 100%;
    margin: 0 auto;
}
.content_area .content_container h3{
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: 50px;
    text-align: center;
}
.content_area .content_container>p{
    font-size: 1.3rem;
    text-align: center;
    line-height: 150%;
    margin-bottom: 100px;
}
.content_area .content_inner1{
    width: 2000px;
    height: 600px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom, rgba(229,237,148,1) 0%,rgba(255,255,255,1) 100%);
    margin-bottom: 150px;
}
.content_area .inner_top,
.content_area .inner_bottom{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.content_area .inner_top .inner_left{
    margin: 230px 0 230px 0;
}
.content_area .inner_top .inner_left h4,
.content_area .inner_bottom .inner_left h4{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 50px;
}
.content_area .inner_top .inner_left p,
.content_area .inner_bottom .inner_left p{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
}
.content_area .inner_top .inner_left p{
    font-family: "Roboto", sans-serif;
}
.content_area .inner_top .inner_right,
.content_area .inner_bottom .inner_right{
    display: flex;
    justify-content: space-between;
}
.content_area .inner_top .inner_right .rigth_txt{
    margin: 124px 97px 0 0;
}
.content_area .inner_top .inner_right dl,
.content_area .inner_bottom .inner_right dl{
    margin-bottom: 50px;
}
.content_area .inner_top .inner_right dt,
.content_area .inner_bottom .inner_right dt{
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
}
.content_area .inner_top .inner_right dd,
.content_area .inner_bottom .inner_right dd{
    font-size: 1.25rem;
    font-weight: 500;
    color: #555;
}
.content_area .inner_top .inner_right img{
    margin-top: 50px;
}
.content_area .content_inner2{
    width: 2000px;
    height: 800px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom, rgba(254,210,169,1) 0%,rgba(255,255,255,1) 100%);
    margin-bottom: 150px;
}
.content_area .inner_bottom .inner_left{
    margin: 330px 0;
}
.content_area .inner_bottom .inner_right .rigth_txt{
    margin: 141px 98px 0 0;
}
.content_area .inner_bottom .inner_right img{
    margin-top:141px;
}

