@charset "utf-8";

/* GS25 페이지 내용영역 */
.title_area h2{ 
    font-family: "Roboto", sans-serif;
}
.title_area h2 span:nth-of-type(1){
    color: #037AFE;
}
.title_area h2 span:nth-of-type(2){
    color: #01D3E9;
}
.title_area p{
    font-size: 1rem;
}
.content_area{width: 100%;}

.content_area .content_container{
    width: 1400px;
    margin: 0 auto;
}
.content_area .content_container p{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}
.content_area .content_container>p:nth-of-type(2){
    color: #037AFE;
    margin-bottom: 100px;
}
.content_area .content_container>p span{
    font-family: "Roboto", sans-serif;
}
.content_area .content_container>img{
    border-radius: 50px;
    margin-bottom: 200px;
}
.content_area .con_top{
    margin-bottom: 200px;
}
.content_area .con_top ul{
    display: flex;
    gap: 30px;
}
.content_area .con_top .top_left{
    box-shadow: -15px 15px 10px 10px rgba(0,0,0,.1);
}
.content_area .con_top .top_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content_area .con_top .top_right dl:nth-child(1){
    margin-bottom: 70px;
}
.content_area .con_top .top_right dt{
    font-size: 1.88rem;
    font-weight: 500;
    color: #037AFE;
    margin-bottom: 50px;
}
.content_area .con_top .top_right dd{
    font-size: 1.2rem;
    line-height: 2rem;
}
.content_area .con_mid{
    margin-bottom: 250px;
}
.content_area .con_mid ul{
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
}
.content_area .con_mid .mid_right{
    box-shadow: 15px 15px 10px 10px rgba(0,0,0,.1);
}
.content_area .con_mid .mid_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content_area .con_mid .mid_left dt{
    font-size: 1.88rem;
    font-weight: 500;
    color: #037AFE;
    margin-bottom: 50px;
}
.content_area .con_mid .mid_left dd{
    font-size: 1.2rem;
    line-height: 2rem;
}

.content_area .con_bottom{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    position: relative;
}
.content_area .con_bottom p{
    font-size: 2.5rem;
    font-weight: 500;
}
.content_area .con_bottom p:nth-child(1){
    margin-right: 230px;
}
.content_area .con_bottom img{
    position: absolute; top: 0; left: 655px;
}
