@charset "utf-8";

/* 비주얼 공통 */
.visual {
    width: 100%;
    height: 400px;
    position: relative;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    overflow: hidden;
}

.visual img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.visual strong{
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    position: absolute; left: 0; top: 200px; 
    width: 100%;
    text-align: center;
}


/* 서브네비 공통 */
.sub_nav{
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.sub_nav ul{
    width: 1200px; margin: 0 auto;
    display: flex;
    text-align: center;
}
.sub_nav ul li{
    width: 25%;
    box-sizing: border-box;
}
.sub_nav ul li a{
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 20px 0;
    border-bottom: 3px solid transparent;
    transition: all .5s ease-out;
}
/* .sub_nav ul li a:hover{
    color: #037AFE;
    border-bottom: 3px solid #037AFE;
}
.sub_nav ul li a.current{
    color: #037AFE;
    border-bottom: 3px solid #037AFE;
} */
.sub_nav ul .nav_core1 a:hover{
    color: #037AFE;
    border-bottom: 3px solid #037AFE;
}
.sub_nav ul .nav_core1 a.current{
    color: #037AFE;
    border-bottom: 3px solid #037AFE;
}
.sub_nav ul .nav_core2 a:hover{
    color: #216E57;
    border-bottom: 3px solid #216E57;
}
.sub_nav ul .nav_core2 a.current{
    color: #216E57;
    border-bottom: 3px solid #216E57;
}
.sub_nav ul .nav_core3 a:hover{
    color: #CCDB2A;
    border-bottom: 3px solid #CCDB2A;
}
.sub_nav ul .nav_core3 a.current{
    color: #CCDB2A;
    border-bottom: 3px solid #CCDB2A;
}

/* title_area 공통 */
#content{width: 100%;}
#content .title_area{
    width: 1400px; height: 550px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#content .title_area .line_map{
    position: absolute; right: 15px; top: 20px;
    color: #666;
}
#content .title_area h2{
    font-size: 3.75rem;
    font-weight: 700;
    text-align: center;
    margin: 150px 0 30px;
}
#content .title_area p{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 100px;
    position: relative;
}
#content .title_area p::after{
    content: "";
    display: block;
    width: 3px; height: 100px;
    background: #037AFE;
    position: absolute; left: 50%; top: 100px;
}