@charset "utf-8";

/* 오시는길 페이지 내용영역 */
.content_area{
    width: 1400px; 
    margin:  0 auto;
}
.content_area .map_menu{
    margin-bottom: 100px;
}
.content_area .map_menu ul{
    width: 1400px;
    display: flex;
}
.content_area .map_menu ul li a{
    width: 700px;
    border-bottom: 1px solid #037AFE;
    box-sizing: border-box;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    padding: 20px 0;
    border-bottom-color: #037AFE;
    transition: all .5s ease-out;
}
/* .content_area .map_menu ul .menu1{
    background: #037AFE;
    color: #fff;
} */
.content_area .map_menu li:hover a{
    background: #037AFE;
    color: #fff;
}
.content_area .map_menu li .tab.active{
    background: #037AFE;
    color: #fff;
}
.content_area .tab_box {
    height: 1800px;
    overflow: hidden;
}
/* .content_area .map_list{
    display: none;
}
.content_area .map_list.active{
    display: block;
} */
.content_area .map_menu ul li span{
    font-family: "Roboto", sans-serif;
}
/* 첫번쨰 map */
.content_area .map_address1{
    margin-bottom: 100px;
}
.content_area .map_address1 ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.content_area .map_address1 ul li:nth-child(1){
    font-size: 2.5rem;
    font-weight: 700;
}
.content_area .map_address1 ul li:nth-child(1) span{
    font-size: 2.7rem;
    color:#037AFE;
    font-family: "Roboto", sans-serif;
}
.content_area .map_address1 ul li:nth-child(2){
    font-size: 1.5rem;
}
.content_area .map_address1 ul li .address{
    margin-right: 20px;
    font-weight: 500;
}
.content_area .map_box{
    width: 1400px; height: 500px;
    border: 1px solid #eee;
}
.content_area .map_box #map{
    width: 1400px; height: 500px;
}
.content_area .map_grounds{
    height: 1100px;
}
.content_area .map_inner{
    margin-top: 100px;
}
.content_area .map_content1{
    float: left;
}
.content_area .map_content1 li{
    position: relative;
}
.content_area .map_content1 dl{
    padding: 0 20px;
    margin-bottom: 70px;
}
.content_area .map_content1 p{
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 70px;
    transform: translate(20px);
}
.content_area .map_content1 p::before{
    content: "";
    display: block;
    background: #eee;
    width: 340px;
    height: 1px;
    position: absolute; left: 0; top: 70px;
}
.content_area .map_content1 p::after{
    content: '';
    display: block;
    background: #eee;
    width: 340px;
    height: 1px;
    position: absolute; left: 0; top: 280px;
}
.content_area .map_content1 .map_info1 dt{
    font-size: 1.8rem;
    margin-bottom: 30px;
}
.content_area .map_content1 .map_info1 dd{
    font-size: 1.1rem;
}
.content_area .map_content1 .map_info2{
    margin-top: 120px;
}
.content_area .map_content1 .map_info2 dt{
    font-size: 1.8rem;
    margin-bottom:  30px;
} 
.content_area .map_content1 .map_info2 dd{
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.content_area .map_content2{
    float: right; margin-right: 410px;
}
.content_area .map_content2 li{
    position: relative;
}
.content_area .map_content2 p{
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 70px;
    transform: translate(20px);
}
.content_area .map_content2 p::after{
    content: '';
    display: block;
    background: #eee;
    width: 340px;
    height: 1px;
    position: absolute; left: 0; top: 70px;
}
.content_area .map_content2 dl{
    padding: 0 20px;
}
.content_area .map_content2 dt{
    font-size: 1.8rem;
    margin-bottom:  20px;
}
.content_area .map_content2 dd{
    font-size: 1.1rem;
    margin-bottom: 50px;
}
/* 2번째 map */
.content_area .map_address2{
    margin-bottom: 100px;
}
.content_area .map_address2 ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.content_area .map_address2 ul li:nth-child(1){
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}
.content_area .map_address2 ul li:nth-child(1) span{
    font-size: 2.7rem;
    color:#037AFE;
    font-family: "Roboto", sans-serif;
}
.content_area .map_address2 ul li:nth-child(2){
    font-size: 1.5rem;
    display: flex;
}
.content_area .map_address2 ul li .address{
    margin-right: 20px;
    font-weight: 500;
}
.content_area .map_box #map2{
    width: 1400px; height: 500px;
    border: 1px solid #eee;
}
.content_area .map_inner2{
    margin-top: 100px;
}
.content_area .map_content3{
    float: left;
}
.content_area .map_content3 li{
    position: relative;
}
.content_area .map_content3 p{
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 70px;
}
.content_area .map_content3 p::before{
    content: "";
    display: block;
    background: #eee;
    width: 340px;
    height: 1px;
    position: absolute; left: 0; top: 70px;
}
.content_area .map_content3 p::after{
    content: '';
    display: block;
    background: #eee;
    width: 340px;
    height: 1px;
    position: absolute; left: 0; top: 320px;
}
.content_area .map_content3 .map_info3 dt{
    font-size: 1.8rem;
    margin-bottom: 40px;
}
.content_area .map_content3 .map_info3 dd{
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.content_area .map_content3 .map_info4{
    margin-top: 120px;
}
.content_area .map_content3 .map_info4 dt{
    font-size: 1.8rem;
    margin-bottom:  40px;
} 
.content_area .map_content3 .map_info4 dd:nth-of-type(1){
    font-size: 1.5rem;
    color: #037AFE;
    margin-bottom: 40px;
}
.content_area .map_content3 .map_info4 dd:nth-of-type(2){
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.content_area .map_content3 .map_info4 dd:nth-of-type(3){
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.content_area .map_content3 .map_info5 dt{
    font-size: 1.5rem;
    color: #037AFE;
    margin: 40px 0 40px 0 ;
}
.content_area .map_content3 .map_info5 dd:nth-of-type(1){
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.content_area .map_content3 .map_info5 dd:nth-of-type(2){
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.content_area .map_content3 .map_info6 dt{
    font-size: 1.5rem;
    color: #037AFE;
    margin: 40px 0 40px 0 ;
}
.content_area .map_content3 .map_info6 dd:nth-of-type(1){
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.content_area .map_content3 .map_info6 dd:nth-of-type(2){
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.content_area .map_content4{
    float: right; margin-right: 120px;
}
.content_area .map_content4 li{
    position: relative;
}
.content_area .map_content4 p{
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 70px;
}
.content_area .map_content4 p::after{
    content: '';
    display: block;
    background: #eee;
    width: 340px;
    height: 1px;
    position: absolute; left: 0; top: 70px;
}
.content_area .map_content4 dt{
    font-size: 1.8rem;
    margin-bottom:  40px;
}
.content_area .map_content4 dd{
    font-size: 1.1rem;
    line-height: 2.5rem;
    margin-bottom: 70px;
}