@charset "utf-8";

/* 경영이념 페이지 내용영역 */
.content_area{width: 100%;}
.content_area .con_top{ 
    width: 1400px; height: 800px;
    margin: 0 auto;
}
.content_area .con_top p{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 100px;
}

.content_area .con_top ul li{
    position: relative;
}
.content_area .con_top .top_inner1 dl{
    width: 300px; height: 300px;
    border-radius: 50%;
    background: #037AFE;
    opacity: .8;
    position: absolute; left:550px; top: 0;
}
.content_area .con_top .top_inner1 dt{
    text-align: center;
    margin: 120px 0 20px;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}
.content_area .con_top .top_inner1 dt span{
    font-size: 5rem;
    font-weight: 200;
    position: absolute; left: 110px; top: 30px;
}
.content_area .con_top .top_inner1 dd{
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #fff;
}

.content_area .con_top .top_inner2 dl{
    width: 300px; height: 300px;
    border-radius: 50%;
    background: #99CC00;
    opacity: .8;
    position: absolute; left:410px; top: 250px;
}
.content_area .con_top .top_inner2 dt{
    text-align: center;
    margin: 120px 0 20px;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}
.content_area .con_top .top_inner2 dt span{
    font-size: 5rem;
    font-weight: 200;
    position: absolute; left: 110px; top: 30px;
}
.content_area .con_top .top_inner2 dd{
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #fff;
}

.content_area .con_top .top_inner3 dl{
    width: 300px; height: 300px;
    border-radius: 50%;
    background: #FF9600;
    opacity: .8;
    position: absolute; right:410px; top: 250px;
}
.content_area .con_top .top_inner3 dt{
    text-align: center;
    margin: 120px 0 20px;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}
.content_area .con_top .top_inner3 dt span{
    font-size: 5rem;
    font-weight: 200;
    position: absolute; left: 110px; top: 30px;
}
.content_area .con_top .top_inner3 dd{
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #fff;
}

.content_area .con_mid{
    width: 100%;
    height: 400px;
    background: #F4F4F4;
}
.content_area .con_mid .mid_inner{
    width: 1800px;
    margin: 0 auto;
    
    position: relative;
}
.content_area .con_mid .mid_inner h3{
    font-size: 3.75rem;
    font-family: "Roboto", sans-serif;
    margin-bottom: 30px;
    padding-top: 50px;
}
.content_area .con_mid .mid_inner p{
    font-size: 1.88rem;
    margin-bottom: 50px;
}
.content_area .con_mid .mid_inner ul{
    display: flex;
    justify-content: space-between;
    
    /* position: absolute; left: 0; top: 200px; */
}
.content_area .con_mid .mid_inner li{
    width: 400px; height: 420px;
}
.content_area .con_mid .mid_inner .inner_box1{
    background: rgba(108,206,245,.3);
}
.content_area .con_mid .mid_inner .inner_box1 dl{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 80px;
    position: relative;
}
.content_area .con_mid .mid_inner .inner_box1 dt{
    font-size: 3rem;
    font-weight: 700;
}
.content_area .con_mid .mid_inner .inner_box1 dt::before{
    content: "";
    display: block;
    width: 300px;
    height: 1px;
    background: #ccc;
    position: absolute; left: 50px; top: 120px;
}
.content_area .con_mid .mid_inner .inner_box1 dd{
    font-size: 1.6rem;
}

.content_area .con_mid .mid_inner .inner_box2{
    background: rgba(128,194,65,.3);
}
.content_area .con_mid .mid_inner .inner_box2 dl{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 80px;
    position: relative;
}
.content_area .con_mid .mid_inner .inner_box2 dt{
    font-size: 3rem;
    font-weight: 700;
}
.content_area .con_mid .mid_inner .inner_box2 dt::before{
    content: "";
    display: block;
    width: 300px;
    height: 1px;
    background: #ccc;
    position: absolute; left: 50px; top: 120px;
}
.content_area .con_mid .mid_inner .inner_box2 dd{
    font-size: 1.6rem;
}

.content_area .con_mid .mid_inner .inner_box3{
    background: rgba(108,206,245,.3);
}
.content_area .con_mid .mid_inner .inner_box3 dl{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 80px;
    position: relative;
}
.content_area .con_mid .mid_inner .inner_box3 dt{
    font-size: 3rem;
    font-weight: 700;
}
.content_area .con_mid .mid_inner .inner_box3 dt::before{
    content: "";
    display: block;
    width: 300px;
    height: 1px;
    background: #ccc;
    position: absolute; left: 50px; top: 120px;
}
.content_area .con_mid .mid_inner .inner_box3 dd{
    font-size: 1.6rem;
}

.content_area .con_mid .mid_inner .inner_box4{
    background: rgba(128,194,65,.3);
}
.content_area .con_mid .mid_inner .inner_box4 dl{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 80px;
    position: relative;
}
.content_area .con_mid .mid_inner .inner_box4 dt{
    font-size: 3rem;
    font-weight: 700;
}
.content_area .con_mid .mid_inner .inner_box4 dt::before{
    content: "";
    display: block;
    width: 300px;
    height: 1px;
    background: #ccc;
    position: absolute; left: 50px; top: 120px;
}
.content_area .con_mid .mid_inner .inner_box4 dd{
    font-size: 1.6rem;
}

.content_area .con_bottom{
    width: 2000px; 
    height: 1036px;
    margin: 0 auto;
    position: relative;
}

.content_area .con_bottom h3{
    margin: 350px 0 30px;
    font-size: 3.75rem;
    font-family: "Roboto", sans-serif;
    margin-left: 50px;
}
.content_area .con_bottom p{
    font-size: 1.88rem;
    margin: 0 0 50px 50px;
}
.content_area .con_bottom ul{
 box-sizing: border-box;
}
.content_area .con_bottom li{
    font-size: 1.5rem; padding: 15px 0 15px 400px;
}
.content_area .con_bottom li:nth-child(1){
    background: #eee;
    width: 200px; 
    border-top-right-radius: 15px;
}
.content_area .con_bottom li:nth-child(2){
    background: #EDF2EB;
    width: 300px;
    border-top-right-radius: 15px;
}
.content_area .con_bottom li:nth-child(3){
    background: #F4F4F4;
    width: 400px;
    border-top-right-radius: 15px;
}
.content_area .con_bottom li:nth-child(4){
    background: #eee;
    width: 500px;
    border-top-right-radius: 15px;
}
.content_area .con_bottom li:nth-child(5){
    background: #F4F4F4;
    width: 600px;
    border-top-right-radius: 15px;
}
.content_area .con_bottom li:nth-child(6){
    background: #EDF2EB;
    width: 700px;
    border-top-right-radius: 15px;
}
.content_area .con_bottom li:nth-child(7){
    background: #eee;
    width: 800px;
    border-top-right-radius: 15px;
}
.content_area .con_bottom li:nth-child(8){
    background: #F4F4F4;
    width: 900px;
    border-top-right-radius: 15px;
    margin-bottom: 400px;
}
.content_area .con_bottom li span{
    color: #037AFE;
}
.content_area .con_bottom .people{
    position: absolute; right: 0; bottom: 0;
    width: 700px;
}
.content_area .con_bottom .logo{
    background: url(../images/content1/con1_logo.png) no-repeat;
    position: absolute; right: 0; bottom: 450px;
    opacity: .4;
    width: 600px; height: 600px;
}